//-  shows error message
extends layout

block content
  nav.grid-container.portfolio-breadcrumb
    include back-button.pug
    include lang-buttons.pug
  article.grid-container.portfolio-intro
    div.show-error
      h1= error.message
      h2 Status: #{error.status}
      p= error.stack