extends layout

block content
  nav.grid-container.portfolio-breadcrumb
    a.back-button(href='/') ← #{assets[language]['back-button']}
    div.lang-buttons
      a(href='/languages/en')
        img(src='/static/img/USA.svg', alt='flag of United States')
      a(href='/languages/de')
        img(src='/static/img/Germany.svg', alt='flag of Germany')
  article.grid-container.portfolio-intro
    div.show-error
      h1= error.message
      h2 Status: #{error.status}
      p= error.stack