//- includes language buttons
div.lang-buttons
  a(href='/languages/en')
    img(src='/static/img/USA.svg', alt='flag of United States')
  a(href='/languages/de')
    img(src='/static/img/Germany.svg', alt='flag of Germany')